//- layout.pug
html
  head
    title My Site - #{title}

    block css
        link(rel="stylesheet", href="./css/style.css")

    block scripts
      //script(src='/jquery.js')
  body(data-barba="wrapper")
    block header
        include header.pug
    block main
        
    block footer

  block script 
    script(src="./js/app.js" , type="module")  
      